.a {
  text-decoration: none;
}

.alignCenter {
  text-align: center;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.black {
  color: var(--color-black);
}

.bold {
  font-weight: var(--font-weight-bold);
}

.grey {
  color: var(--color-grey);
}

.h1 {
  font-size: var(--font-size-4);
  letter-spacing: -2px;
}

.h2 {
  font-size: var(--font-size-3);
  letter-spacing: -2px;
}

.h3 {
  font-size: var(--font-size-2);
  letter-spacing: -1px;
}

.h4 {
  font-size: var(--font-size-1);
  letter-spacing: -1px;
}

.heading {
  line-height: 1.25;
}

.hero {
  font-size: var(--font-size-5);
  letter-spacing: -4px;
  margin-bottom: var(--spacing-6);
}

.italic {
  font-style: italic;
}

.light {
  font-weight: var(--font-weight-light);
}

.normal {
  font-weight: var(--font-weight-normal);
}

.p {
  font-size: var(--font-size-0);
}

.root {
  font-family: inherit;
  margin: 0;
}

.small {
  font-size: 0.875rem;
}

.text {
  line-height: 1.5;
}

.white {
  color: var(--color-white);
}

@media screen and (min-width: 600px) {
  .h1 {
    font-size: var(--font-size-5);
  }

  .h2 {
    font-size: var(--font-size-4);
  }

  .h3 {
    font-size: var(--font-size-3);
  }

  .h4 {
    font-size: var(--font-size-2);
  }

  .hero {
    font-size: var(--font-size-6);
  }
}

@media screen and (min-width: 1024px) {
  .h1 {
    font-size: var(--font-size-6);
  }

  .h2 {
    font-size: var(--font-size-5);
  }

  .h3 {
    font-size: var(--font-size-4);
  }

  .h4 {
    font-size: var(--font-size-3);
  }

  .hero {
    font-size: var(--font-size-7);
  }

  .p {
    font-size: var(--font-size-1);
  }
}
